.classpath
.project
.settings
.springBeans
target
persistance-api/target
persistance-impl/target
persistance-impl/test-output
persistance-impl/console.log
application-starter/target
application-starter/console.log
bugtracker-ejb/target
bugtracker-ejb/test-output
bugtracker-ejb/console.log
bugtracker-ear/target
bugtracker-ear/test-output
bugtracker-ear/console.log
bugtracker-web/target
bugtracker-web/test-output
bugtracker-web/console.log
bugtracker-web/.metadata
bugtracker-web/faces-config.NavData
