<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">${jdbc.driverClassName}</property>
        <property name="hibernate.connection.url">
            ${jdbc.databaseurl}
        </property>
        <property name="hibernate.connection.username">${jdbc.username}</property>
        <property name="hibernate.connection.password">${jdbc.password}</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="show_sql">true</property>
        <property name="dialect">${jdbc.dialect}</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <mapping class="org.test.bugtracker.impl.model.UserImpl" />
        <mapping class="org.test.bugtracker.impl.model.BugImpl" />
        <mapping class="org.test.bugtracker.impl.model.CommentImpl" />
    </session-factory>
</hibernate-configuration>